name: Build and deploy to 'Github Pages'
on:
    push:
        branches:
            - main

jobs:
    build_and_upload_artifacts:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up 'bun'
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Build project
              run: bun run build

            - name: Upload artifact
              id: upload_artifact
              uses: actions/upload-pages-artifact@v4
              with:
                  path: dist

            - name: Echo artifact ID
              run: echo ${{ steps.upload_artifact.outputs.artifact_id }}

    deploy_to_gh_pages:
        runs-on: ubuntu-latest
        needs: build_and_upload_artifacts
        permissions:
            pages: write
            id-token: write
        steps:
            - name: Deploy to 'Github Pages'
              id: deploy
              uses: actions/deploy-pages@v4

            - name: Echo deployment URL
              run: "echo URL: ${{ steps.deploy.outputs.page_url }}"
